body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: -40px;
    margin-bottom: 10px;
}

input {
    height: 15px;
    border: 1px solid #999;
    border-radius: 8px;
    padding: 10px;
}

.form {
    text-align: center;
    margin: 50px 0;
}

.form__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 100px;
    font-weight: bold;

    &:hover {
        opacity: 0.7;
        transition: 0.2s;
    }
}

.form__add-button {
    background-color: #D0F288;
}

.form__edit-button {
    background-color: #FFFBC1;
}

.form__delete-button {
    background-color: #FF9B9B;
}

.form__save-button {
    background-color: #96EFFF;
}

.divider {
    height: 5px;
    background-color: #555;
    border: 1px solid black;
}

.current-tasks {
    text-align: center;
}